/* add a Google Font import */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-size: 20px;
  font-family: sans-serif; /* need to add a Google font */
  background-color: #222;
  color: #eee;
}
body {
  min-height: 100vh;
}
.offline {
  /* something visual about being offline */
}
a[href],
a:link,
a:active,
a:visited {
  color: orangered;
}
